{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <script
    data-goatcounter="https://hpc-analytics.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"></script>
{% endblock %}

{# Announce bar with botton to refer to a guide. #}
{# 
{% block announce %}
<div class="announce-bar" role="status" aria-live="polite">
  <p class="announce-bar__title">Planned UCloud downtime </p>
  <p class="announce-bar__text">
    To enable migration to a new SDU datacenter, the UCloud platform will be unavailable until May 4th.
  </p>
  <div class="announce-bar__links">
    <a class="announce-bar__link" href="/ucloud/sdu-datacenter-migration/" aria-label="Open migration guide">UCloud migration status</a>
  </div>
</div>
{% endblock %}
#}


{# Announce bar - Simple but with red text #}
{#
{% block announce %}
<div class="announce-bar announce-bar--danger" role="alert" aria-live="assertive">
  <p class="announce-bar__title">⚠ UCloud: Extraordinary maintenance window May 23rd, 07:00–10:00</p>
  <p class="announce-bar__text">We have scheduled an extraordinary maintenance window. All compute nodes will be rebooted. All running jobs will be terminated.</p>
</div>
{% endblock %}
#}
