{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <script
    data-goatcounter="https://hpc-analytics.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"></script>
{% endblock %}

{# Announce bar with botton to refer to a guide. #}
{# 
{% block announce %}
<div class="announce-bar" role="status" aria-live="polite">
  <p class="announce-bar__title">Planned UCloud downtime </p>
  <p class="announce-bar__text">
    To enable migration to a new SDU datacenter, the UCloud platform will be unavailable until May 4th.
  </p>
  <div class="announce-bar__links">
    <a class="announce-bar__link" href="/ucloud/sdu-datacenter-migration/" aria-label="Open migration guide">UCloud migration status</a>
  </div>
</div>
{% endblock %}
#}


{# Announce bar - Simple but with red text #}

{% block announce %}
<div class="announce-bar announce-bar--danger" role="alert" aria-live="assertive">
  <p class="announce-bar__title">⚠ UCloud: Bitten is down</p>
  <p class="announce-bar__text">
    The Bitten system is currently unavailable. During the night a transformer station in Aabenraa exploded and caused widespread problems for the surrounding power grid, including our data center. There has been no loss of data, but we are keeping the system offline during the weekend to assess the status and potential damages.<br><br>
    Storage is accessible, but compute nodes are still offline.
  </p>
  <div class="announce-bar__links">
    <a class="announce-bar__link" style="background-color: #fff; color: #212121; border: 1px solid #ddd;" href="https://status.cloud.sdu.dk/" aria-label="Open UCloud status">
      UCloud status
    </a>
  </div>
</div>
{% endblock %}


{# Announce bar - AI Cloud / AI-LAB operational issue #}
{#
{% block announce %}
<div class="announce-bar announce-bar--danger" role="alert" aria-live="assertive">
  <p class="announce-bar__title">⚠ Strato / AI Cloud / AI-LAB: Operational disruption</p>
  <p class="announce-bar__text">
    Selected nodes on Strato and in AI Cloud and all nodes in AI-LAB are currently offline due to a technical issue. 
    We are working to resolve the problem as quickly as possible and will notify users once services are restored.
  </p>
</div>
{% endblock %}
#}